@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}
